{% extends "base.html" %}

{% block title %}
    Admin
{% endblock title %}

{% block content %}
    <section class="my5 bg-dark text-light">
        <div class="container my-5 py-2">
            <div class="d-flex align-items-center flex-row justify-content-center">
                <h1 class="me-3">Admin Home</h1>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="d-flex col">
                    <a href="{{ url_for("admin.admin_home") }}"
                       class="btn btn-outline-dark flex-fill d-flex align-items-center justify-content-center my-2">
                        <i class="bi bi-shield-lock-fill me-3 fs-1"></i>
                        <span class="d-inline fs-2">Admin</span>
                    </a>
                </div>
                <div class="d-flex col">
                    <a href="{{ url_for("main.home") }}"
                       class="btn btn-outline-dark flex-fill d-flex align-items-center justify-content-center my-2">
                        <i class="bi bi-people-fill me-3 fs-1"></i>
                        <span class="d-inline fs-2">Add Users</span>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="d-flex col">
                    <a href="{{ url_for("admin.admin_home") }}"
                       class="btn btn-outline-dark flex-fill d-flex align-items-center justify-content-center my-2">
                        <i class="bi bi-shield-lock-fill me-3 fs-1"></i>
                        <span class="d-inline fs-2">Admin</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}