{% extends "base.html" %}

{% block title %}
    Admin Panel
{% endblock title %}


{% block head %}
    <style>
        body {
            background-image: linear-gradient(45deg, #848484 25%, #544464 25%, #544464 50%, #848484 50%, #848484 75%, #544464 75%, #544464 100%);
            background-size: 197.99px 197.99px;
        }
    </style>
{% endblock head %}
{% block content %}
    <main>
        <section class="pink">
            <div class="container-fluid d-flex justify-content-between">
                <a href="{{ url_for("main.home") }}">
                    <img src="../static/icecream.webp" style="height: 8vh" class="m-2" alt="Jakes Logo">
                </a>
                <div class="text-center my-auto">
                    <p class="fs-1 fw-bold text-light my-auto">ADMIN PANEL</p>
                </div>
                <img src="../static/icecream.webp" style="height: 8vh" class="m-2 invisible" alt="Jakes Logo">
            </div>
        </section>

        <section>
            <div class="container-fluid d-flex justify-content-center">
                <div class="row flex-grow-1 justify-content-center">
                    <div class="col-lg flex-grow-1">
                        <div class="container fs-3 text-light text-center my-2 d-flex justify-content-between">
                            <i class="invisible bi bi-plus"></i>
                            <div>Workers</div>
                            <a title="Add Worker" class="text-decoration-none text-reset" data-bs-toggle="modal"
                               data-bs-target="#addUser">
                                <i class="bi bi-plus"></i>
                            </a>
                        </div>
                        <div class="container p-0">
                            <div class="table-responsive rounded-3 border border-top-0 border-bottom-0 border-danger-subtle border-2">
                                <table class="table table-light table-hover border-top border-bottom border-danger-subtle border-2 text-center my-0"
                                       id="user-table">
                                    <tbody>
                                    {% for user in all_users %}
                                        <tr id="{{ user.id }}" draggable='true' ondragstart='start()'
                                            ondragover='dragover()' ondragend="endDrag('user-table')">
                                            <td hidden="hidden">{{ user.id }}</td>
                                            <td>{{ user.name }}</td>
                                            <td>
                                                <a title="Copy Tasks"
                                                   class="text-decoration-none text-reset" data-bs-toggle="dropdown"
                                                   aria-expanded="false">
                                                    <i class="bi bi-clipboard"></i>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    {% for user2 in all_users %}
                                                        <li><a class="dropdown-item"
                                                               href="{{ url_for("action.copy", user_id1=user.id, user_id2=user2.id, user_name1=user.name, user_name2=user2.name) }}">{{ user2.name }}</a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </td>
                                            <td>
                                                <a title="Remove Worker"
                                                   href="{{ url_for("action.remove_user", user_id=user.id) }}"
                                                   class="text-decoration-none text-reset">
                                                    <i class="bi bi-dash"></i>
                                                </a>
                                            </td>
                                            <td>
                                                <a title="Edit Worker" class="text-decoration-none text-reset"
                                                   data-bs-toggle="modal"
                                                   data-bs-target="#user-{{ user.id }}-modal">
                                                    <i class="bi bi-pencil-square"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg flex-grow-1">
                        <div class="container fs-3 text-light text-center my-2 d-flex justify-content-between">
                            <i class="bi bi-plus invisible"></i>
                            <div>Tasks</div>
                            <a title="Add Task" class="text-decoration-none text-reset" data-bs-toggle="modal"
                               data-bs-target="#addTask">
                                <i class="bi bi-plus"></i>
                            </a>
                        </div>
                        <div class="container p-0">
                            <div class="table-responsive rounded-3 border border-top-0 border-bottom-0 border-danger-subtle border-2">
                                <table class="table table-light table-hover border-top border-bottom border-danger-subtle border-2 text-center my-0"
                                       id="task-table">
                                    <tbody>
                                    {% for task in all_tasks %}
                                        <tr id="{{ task.id }}" draggable='true' ondragstart='start()'
                                            ondragover='dragover()' ondragend="endDrag('task-table')">
                                            <td hidden="hidden">{{ task.id }}</td>
                                            <td>{{ task.name }}</td>
                                            <td>
                                                <a title="Remove Task"
                                                   href="{{ url_for("action.remove_task", task_id=task.id) }}"
                                                   class="text-decoration-none text-reset">
                                                    <i class="bi bi-dash"></i>
                                                </a>
                                            </td>
                                            <td>
                                                <a title="Edit Task" class="text-decoration-none text-reset"
                                                   data-bs-toggle="modal"
                                                   data-bs-target="#task-{{ task.id }}-modal">
                                                    <i class="bi bi-pencil-square"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        {# Add User Modal #}
        <div class="modal modal-lg" id="addUser" tabindex="-1" aria-labelledby="addUserModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">Add User</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="POST">
                        <div class="modal-body">
                            {{ userForm.hidden_tag() }}
                            <div class="mb-3">
                                <div class="form-group">
                                    {{ userForm.user.label(class="form-label") }}
                                    {{ userForm.user(class="form-control") }}
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" value="Add"></input>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {# Add Task Modal #}
        <div class="modal modal-lg" id="addTask" tabindex="-1" aria-labelledby="addTaskModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">Add Task</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="POST">
                        <div class="modal-body">
                            {{ taskForm.hidden_tag() }}
                            <div class="mb-3">
                                <div class="form-group">
                                    {{ taskForm.task.label(class="form-label") }}
                                    {{ taskForm.task(class="form-control") }}
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" value="Add"></input>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {# User Modals #}
        {% for user in all_users %}
            <div class="modal modal-lg" id="user-{{ user.id }}-modal" tabindex="-1"
                 aria-labelledby="user-{{ user.id }}-modal"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <form action="{{ url_for("action.assign_task", user_id=user.id) }}" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5">{{ user.name }}</h1>
                                <div>
                                    <button type="submit" class="btn btn-outline-secondary">Assign Tasks</button>
                                </div>

                            </div>
                            <div class="modal-body">
                                <div class="mb-3">
                                    <nav>
                                        <div class="nav nav-tabs" role="tablist">
                                            <button class="nav-link active" data-bs-toggle="tab" aria-current="page"
                                                    data-bs-target="#user-{{ user.id }}-all" role="tab" type="button">
                                                All
                                                Tasks
                                            </button>
                                            <button class="nav-link"
                                                    data-bs-toggle="tab" data-bs-target="#user-{{ user.id }}-ct"
                                                    role="tab"
                                                    type="button">Complete Tasks
                                            </button>
                                            <button class="nav-link" data-bs-toggle="tab"
                                                    data-bs-target="#user-{{ user.id }}-it" role="tab" type="button">
                                                Incomplete
                                                Tasks
                                            </button>
                                        </div>
                                    </nav>
                                    <div class="tab-content">
                                        <div class="tab-pane" id="user-{{ user.id }}-ct" role="tabpanel"
                                             tabindex="0">
                                            <div class="table-responsive">
                                                <table class="table table-light table-hover border border-danger-subtle border-2 text-center my-0">
                                                    <tbody>
                                                    {% for link in user.tasks %}
                                                        {% if link.complete == True %}
                                                            <tr>
                                                                <td>{{ link.task.name }}</td>
                                                                <td>
                                                                    <a href="{{ url_for("action.unassign_task", task_id=link.task.id, user_id=link.user.id, group="user-" ~ user.id ~ "-modal", tab="user-" ~ user.id ~ "-ct") }}"
                                                                       class="text-reset text-decoration-none">
                                                                        <i class="bi bi-dash"></i>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        {% endif %}
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="user-{{ user.id }}-it" role="tabpanel"
                                             tabindex="0">
                                            <div class="table-responsive">
                                                <table class="table table-light table-hover border border-danger-subtle border-2 text-center my-0">
                                                    <tbody>
                                                    {% for link in user.tasks %}
                                                        {% if link.complete == False %}
                                                            <tr>
                                                                <td>{{ link.task.name }}</td>
                                                                <td>
                                                                    <a href="{{ url_for("action.unassign_task", task_id=link.task.id, user_id=link.user.id, group="user-" ~ user.id ~ "-modal", tab="user-" ~ user.id ~ "-it") }}"
                                                                       class="text-reset text-decoration-none">
                                                                        <i class="bi bi-dash"></i>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        {% endif %}
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="tab-pane show active" id="user-{{ user.id }}-all" role="tabpanel"
                                             tabindex="0">
                                            <div class="table-responsive">
                                                <table class="table table-light table-hover border border-danger-subtle border-2 text-center my-0">
                                                    <tbody>
                                                    {% for task in all_tasks %}
                                                        <tr>
                                                            <td>{{ task.name }}</td>
                                                            <td>
                                                                {#                                                            <a href="{{ url_for("action.assign_task", user_id=user.id, task_id=task.id, group="user-" ~ user.id ~ "-modal", tab="user-" ~ user.id ~ "-all") }}"#}
                                                                {#                                                               class="text-decoration-none text-reset">#}
                                                                {#                                                                <i class="bi bi-plus"></i>#}
                                                                {#                                                            </a>#}
                                                                <input type="checkbox" class="form-check-input"
                                                                       name="{{ user.id }}-task-box"
                                                                       value="{{ task.id }}">
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-outline-secondary">Assign Tasks</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        {% endfor %}

        {# Task Modals #}
        {% for task in all_tasks %}
            <div class="modal modal-lg" id="task-{{ task.id }}-modal" tabindex="-1"
                 aria-labelledby="task-{{ task.id }}-modal"
                 aria-hidden="true">
                <form action="{{ url_for("action.assign_user", task_id=task.id) }}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5">{{ task.name }}</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="mb-3">
                                    <nav>
                                        <div class="nav nav-tabs" role="tablist">
                                            <button class="nav-link active" aria-current="page"
                                                    data-bs-toggle="tab" data-bs-target="#task-{{ task.id }}-as"
                                                    role="tab"
                                                    type="button">Assigned Users
                                            </button>
                                            <button class="nav-link" data-bs-toggle="tab"
                                                    data-bs-target="#task-{{ task.id }}-all" role="tab" type="button">
                                                All Users
                                            </button>
                                        </div>
                                    </nav>
                                    <div class="tab-content">
                                        <div class="tab-pane" id="task-{{ task.id }}-all" role="tabpanel"
                                             tabindex="0">
                                            <div class="table-responsive">
                                                <table class="table table-light table-hover border border-danger-subtle border-2 text-center my-0">
                                                    <tbody>
                                                    {% for user in all_users %}
                                                        <tr>
                                                            <td>{{ user.name }}</td>
                                                            <td>
                                                                <input type="checkbox" class="form-check-input"
                                                                       name="{{ task.id }}-user-box"
                                                                       value="{{ user.id }}">
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="tab-pane show active" id="task-{{ task.id }}-as" role="tabpanel"
                                             tabindex="0">
                                            <div class="table-responsive">
                                                <table class="table table-light table-hover border border-danger-subtle border-2 text-center my-0">
                                                    <tbody>
                                                    {% for link in task.users %}
                                                        <tr>
                                                            <td>{{ link.user.name }}</td>
                                                            <td>
                                                                <a href="{{ url_for("action.unassign_task", task_id=link.task.id, user_id=link.user.id) }}"
                                                                   class="text-reset text-decoration-none">
                                                                    <i class="bi bi-dash"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-outline-secondary">Assign Users</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        {% endfor %}

        <script>

            $("#{{ group }}").on('shown.bs.modal', function (e) {
                let theTab = new bootstrap.Tab($('.nav-tabs > button[data-bs-target="#{{ tab }}"]'))
                theTab.show()
            })

            let modal = new bootstrap.Modal($("#{{ group }}"));
            modal.show()
        </script>
    </main>
{% endblock content %}