{% extends "base.html" %}

{% block title %}
    Home
{% endblock title %}


{% block head %}
    <style>
        body {
            background-image: linear-gradient(45deg, #ffffff 25%, #ac8bc9 25%, #ac8bc9 50%, #ffffff 50%, #ffffff 75%, #ac8bc9 75%, #ac8bc9 100%);
            background-color: grey;
            background-blend-mode: multiply;
            background-size: 197.99px 197.99px;
            font-family: raleway, sans-serif;
        }
    </style>
{% endblock head %}
{% block content %}
    <section class="pink">
        <div class="container-fluid d-flex justify-content-between">
            <img src="../static/icecream.webp" style="height: 8vh" class="m-2" alt="Jakes Logo">
            <div class="text-center my-auto">
                <p class="fs-1 fw-bold text-light my-auto">EMPLOYEE CHECKLIST</p>
            </div>
            <img src="../static/icecream.webp" style="height: 8vh" class="m-2 invisible" alt="Jakes Logo">
        </div>
    </section>

    <section>
        <div class="container-fluid d-flex mt-2">
            <div class="row flex-grow-1">
                <div class="col-lg flex-grow-1 ps-4 pe-3">
                    <a href="{{ url_for("main.home") }}"
                       class="btn pink flex-fill d-flex flex-column align-items-center justify-content-center my-2 text-light fs-1" style="height: 30vh">
                        <i class="bi bi-person-fill-gear icon"></i>
                        <p class="mb-0">ADMIN</p>
                    </a>
                </div>
                <div class="col-lg flex-grow-1 ps-3 pe-4">
                    <a href="{{ url_for("main.home") }}"
                       class="btn pink flex-fill d-flex flex-column align-items-center justify-content-center my-2 text-light fs-1" style="height: 30vh">
                        <i class="bi bi-people-fill icon"></i>
                        <p class="mb-0">EMPLOYEES</p>
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}