{% extends "base.html" %}

{% block title %}
    Home
{% endblock title %}


{% block head %}
    <style>
        body {
            background-image: linear-gradient(45deg, #ffffff 25%, #ac8bc9 25%, #ac8bc9 50%, #ffffff 50%, #ffffff 75%, #ac8bc9 75%, #ac8bc9 100%);
            background-color: grey;
            background-blend-mode: multiply;
            background-size: 197.99px 197.99px;
            background-repeat: no-repeat;
        }
    </style>

{% endblock head %}
{% block content %}


    <section class="pink">
        <div class="container-fluid d-flex justify-content-between">
            <a href="{{ url_for("main.home") }}">
                <img src="../static/icecream.webp" style="height: 8vh" class="m-2" alt="Jakes Logo">
            </a>
            <div class="text-center my-auto">
                <p class="fs-1 fw-bold text-light my-auto">EMPLOYEE CHECKLIST</p>
            </div>
            <img src="../static/icecream.webp" style="height: 8vh" class="m-2 invisible" alt="Jakes Logo">
        </div>
    </section>

    <section>
        <div class="container-fluid d-flex mt-2 mb-2" style="min-height: calc(92vh - 3rem);">
            <div class="row flex-grow-1">
                <div class="col-lg flex-grow-1 ps-lg-4 pe-lg-3">
                    <a data-bs-toggle="modal" data-bs-target="#passwordModal"
                       class="btn pink flex-fill d-flex flex-column align-items-center justify-content-center my-2 text-light"
                       style="height: calc(92vh - 3rem);">
                        <span class="d-inline fs-2">
                            <i class="bi bi-person-fill-gear"></i>
                            ADMIN
                        </span>
                    </a>
                </div>
                <div class="col-lg flex-grow-1 ps-lg-3 pe-lg-4">
                    <a href="{{ url_for("main.users") }}"
                       class="btn pink flex-fill d-flex flex-column align-items-center justify-content-center my-2 text-light"
                       style="height: calc(92vh - 3rem);">
                        <span class="d-inline fs-2">
                            <i class="bi bi-people-fill"></i>
                            EMPLOYEES
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade" id="passwordModal" tabindex="-1" aria-labelledby="passwordModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fs-5" id="exampleModalLabel">Admin Password</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="POST">
                    <div class="modal-body">
                        <div class="modal-body">
                            {{ form.hidden_tag() }}
                            <div class="mb-3">
                                <div class="form-group">
                                    {{ form.password.label(class="form-label") }}
                                    {{ form.password(class="form-control", type="password") }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="Enter"></input>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="../static/js/script.js"></script>
{% endblock content %}