{% extends "base.html" %}

{% block title %}
    {{ user.name }}'s Tasks
{% endblock title %}


{% block head %}
    <style>
        body {
            background-image: linear-gradient(45deg, #ffffff 25%, #ac8bc9 25%, #ac8bc9 50%, #ffffff 50%, #ffffff 75%, #ac8bc9 75%, #ac8bc9 100%);
            background-color: grey;
            background-blend-mode: multiply;
            background-size: 197.99px 197.99px;
        }
    </style>
{% endblock head %}
{% block content %}
    <section class="pink">
        <div class="container-fluid d-flex justify-content-between">
            <a href="{{ url_for("main.home") }}">
                <img src="../static/icecream.webp" style="height: 8vh" class="m-2" alt="Jakes Logo">
            </a>
            <div class="text-center my-auto">
                <p class="fs-1 fw-bold text-light my-auto">USER LIST</p>
            </div>
            <img src="../static/icecream.webp" style="height: 8vh" class="m-2 invisible" alt="Jakes Logo">
        </div>
    </section>

    <section>
        <div class="container-fluid">
            <div class="container fs-3 text-light text-center my-2">{{ user.name }}'s Incomplete Tasks</div>
            <div class="container p-0 my-3">
                <div class="table-responsive">
                    <table class="table table-light table-hover border border-danger-subtle border-2 text-center">
                        <tbody>
                        {% for link in user.tasks %}
                            {% if link.complete == False %}
                                <tr>
                                    <td>{{ link.task.name }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="container fs-3 text-light text-center my-2">{{ user.name }}'s Complete Tasks</div>
            <div class="container p-0 my-3">
                <div class="table-responsive">
                    <table class="table table-light table-hover border border-danger-subtle border-2 text-center">
                        <tbody>
                        {% for link in user.tasks %}
                            {% if link.complete == True %}
                                <tr>
                                    <td>{{ link.task.name }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </section>
{% endblock content %}